@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lato:wght@00&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script:wght@400;700&family=Lato:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* background-image: url("../images/summer.jpg");
    background-size: cover; */
    
}

.cursive {
  font-family: 'Caveat', cursive;
  color: #646464;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: x-large;
  color: black;
}

* {
  box-sizing: border-box;
}

#hero {
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.container {
  max-width: 85vw;
}

.pt-9 {
	padding-top: 11.25rem;
}

.item{
  min-width: 40rem;
  min-width: 3rem;
  padding: 7px;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  min-width: 60%;
  min-height: 60%;
}


.bg-header {
  background-image: linear-gradient(0deg, rgba(10, 10, 10, 0.014), rgba(0, 0, 0, 0.034)), url("/set.png");
  background-attachment: fixed;
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



@media screen and (max-device-width: 480px)
and (orientation: portrait) {
  .bg-header {
    background-attachment: fixed;
    background-image: url("/set.png");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


}

.md\:my-10 {
	margin-top: 12.5rem;
	margin-bottom: 2.5rem;
	padding-left: 8.5rem;
}


.vectorIcon {
  font-size: 10rem;
  color: #f6933c;
 }

 #menu-btn {
   font-size: 2rem;
 }

 .inner-carousel {
  display: flex;
}

.carousel {
  cursor: grab;
  overflow: hidden;
}



  .control-dots .dot:nth-child(1) {
    background: rgb(0, 0, 0) !important;
    width: 20px !important;
    height: 20px !important;
  }

  .control-dots .dot:nth-child(2) {
    background: #5a3c39 !important;
    width: 20px !important;
    height: 20px !important;
  }

  .control-dots .dot:nth-child(3) {
    background: #943331 !important;
    width: 20px !important;
    height: 20px !important;
  }

  .control-dots .dot:nth-child(4) {
    background: #9c9da5 !important;
    width: 20px !important;
    height: 20px !important;
  }

  .control-dots .dot:nth-child(5) {
    background: #00757b !important;
    width: 20px !important;
    height: 20px !important;
  }
